</div>

<!-- Footer-->
<footer class="footer bg-theme-secondary small text-center text-white-50">
    <section class="contact-section bg-theme-secondary">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="icon-location text-black mb-2"></i>
                            <div class="small text-black">{{ site.Params.address }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="icon-calendar text-black mb-2"></i>
                            <div class="small text-black">{{ site.Params.date }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="icon-mobile-phone text-black mb-2"></i>
                            <div class="small text-black">{{ site.Params.phone }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="{{ site.Params.instagram }}"><i class="icon-instagram"></i></a>
            </div>
        </div>
    </section>

    <div class="container copyright text-white px-4 px-lg-5">Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}}</div>

</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>