/* GENERAL */

:root {
    --primary: #fd393a;
    --primary-hover: #fd4c4d;
    --secondary: #004aa7;
}

@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Sifonn Pro'), url('SIFONN_PRO.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow'), url('Barlow-Medium.ttf') format('truetype');
}

html, body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;

    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sifonn Pro', sans-serif;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
}

.bg-theme-secondary {
    background: var(--secondary);
    color: white;
}

.bg-theme-grey {
    background: #e7f0fa;
}

.absolute-bottom {
    position: absolute;
    bottom: 100px;
}

/* FOOTER */

footer .copyright {
    background: var(--secondary);
    color: white;
    padding: 2rem 0;
}

/* HOMESITE */

#mainNav {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

#mainNav.navbar-shrink {
    background: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mainNav .navbar-brand img {
    /* position: ab solute; */
    height: 70px;
    /* margin-top: -20px; */
}

#mainNav ul li .nav-link,
#mainNav.navbar-shrink .nav-link.active {
    color: black;
    padding: 1rem 1.5rem 1rem;
}
#mainNav ul li .nav-link.active
#mainNav.navbar-shrink .nav-link.active {
    border: none !important;
}
#mainNav ul li .nav-link:hover {
    color: black;
    text-decoration: underline;
}
#mainNav ul li:last-child .nav-link {
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    margin-left: 1.5rem;
}
#mainNav ul li:last-child .nav-link:hover {
    text-decoration: none;
    background-color: var(--primary-hover);
}
#mainNav ul li .nav-link.current {
    font-weight: bold;
    text-decoration: underline;
}

.masthead {
    height: 100vh;
}

.masthead video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masthead .btn {
    background-color: var(--primary);
    color: white;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.masthead .btn:hover {
    background-color: var(--primary-hover);
}

#about {
    background: white;
    color: black;
}

#projects .bg-hard {
    background: var(--primary);
    color: white;
}

#projects .bg-medium {
    background: var(--secondary);
    color: white;
}

#projects .bg-easy {
    background: white;
    color: black;
}

#programme ul li {
    list-style: none;
    padding: 0.3rem 0;
}

.sponsors-section {
    padding: 10rem 0;
}

.sponsors-section .sponsor-logos,
.sponsors-section .partner-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.sponsors-section .sponsor-logo,
.sponsors-section .partner-logo {
    width: 20%;
}

.sponsors-section .sponsor-logo img {
    width: 80%;
}

.sponsors-section .partner-logo img {
    width: 70%;
}

.contact-section .card {
    border-color: #00306c !important;
}

@media screen and (max-width: 768px) {
    #mainNav ul li .nav-link {
        text-align: center;
    }
    #mainNav ul li:last-child .nav-link {
        margin: 0;
    }

    .masthead img {
        width: 80%;
    }

    .sponsors-section .sponsor-logo {
        width: 30%;
    }
}

/* SINGLE */

.page-ct .title-ct {
    margin-top: 8rem;
    margin-bottom: 3rem;
    color: var(--secondary);

    text-align: center;
    text-transform: uppercase;
}

.page-ct .content-ct {
    margin-bottom: 5rem;
}

.page-ct .content-ct h2,
.page-ct .content-ct h3,
.page-ct .content-ct h4,
.page-ct .content-ct h5,
.page-ct .content-ct h6 {
    margin-top: 3rem;
}

.page-ct .content-ct figure img {
    margin: 2rem 0;
    width: 100%;
}

.container {
    max-width: 960px;
}